#body{
    text-align: center;
    color: #4a4992;
}

.logo{
    display: flex;
    justify-content: flex-start;
    block-size: 150px;
}

#rodape{
    background-color: #4a4992;
}

.imgs{
    width: 200px;
    height: 150px;
}

#display{
    display: flex;
    justify-content: flex-end;
}