body{
    font-size:1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    padding:0;
    color: rgb(0, 28, 70);
       background-image: url(/imgs/banner_lutech.jpeg);
       backdrop-filter: blur(5px);
}

#area-cabecalho{
    
    border: 1px solid rgb(0, 28, 70);
    background-color:rgb(59, 123, 126);
    text-align: center;
}

#area-menu{

    padding: 10px;
    margin:0px;

}
#area-logo{

    display:block;
}

#area-principal{
    background-color: rgb(216, 216, 216);
    margin: 0 auto;
    width: 920px;
    border: 2px solid rgba(59, 123, 126)
}


#imagem1{
    float:right;
    margin-right: 30px;
}

#imagem2{
    float:left;
    margin-left:30px;

}
