<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    
    <table bgcolor="blue" width="1350px">
        <tr height=100px>
            <td> 
                <p align="center">
                    Cabeçalho (contendo links para outras páginas e logo)
                </p>
            </td>
        </tr>
    </table>
<br>
<br>
<br>
<br>
    <table bgcolor="yellow" width="650px">
        <tr height="100px">
            <td align="center">
                <p>
                    Informação 1 + imagem1
                </p>
            </td>
        </tr> 
     </table>
<br>
<br>
     <table align="right" bgcolor="red" width="650px">
        <tr height="100px">
            <td align="center"> 
                <p>
                    informação 2 + imagem2
                </p>               
            </td>
        </tr>
     </table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

     <table align="left" bgcolor="red" width="650px">
        <tr height="100px">
            <td align="center"> 
                <p>
                    informação 3 + imagem3
                </p>               
            </td>
        </tr>
     </table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 <table bgcolor="blue" width="1350px">
        <tr height=100px>
            <td> 
                <p align="center">
                    rodapé
                </p>
            </td>
        </tr>
    </table>


</body>
</html>