.links{

    text-decoration: none; /*underline desativado no link*/
    font-size: 18px;
}

.links:link, .links:visited{ /*Links não visitados ainda*/
    color:black;
}

.links:visited{ /*Links visitados */
    color:black;
}

.links:hover{ /*Links quando passado o mouse em cima*/
    background-color:rgb(0, 35, 58);
    color:aliceblue;
}

.links:active{ /*links quando clicados*/
    color:rgb(0, 35, 58);

}